{%  extends 'quoin/core/reports/base.html' %}

{%  block content %}

<div class="row">
    <div class="page-header">
        <h1>Automated Test Report <small>{{run_datetime}}</small></h1>
    </div>
</div>

{%      include 'quoin/core/reports/includes/summary.html' %}

{%      include 'quoin/core/reports/includes/filters.html' %}

<div class="row">
    <table class="test-suite table table-bordered" id="results-table">
        <thead>
            <tr>
                <th class="number text-center">#</th>
                <th class="name">Name</th>
                <th class="result text-center">Result</th>
                <th class="duration text-center">Duration(ms)</th>
                <th class="browser text-center">Browser</th>
                <th class="version text-center">Version</th>
                <th class="platform text-center">Platform</th>
                <th class="screenshot text-center">Screenshot</th>
            </tr>
        </thead>
        <tbody>
    {%      for test in test_suite %}
    {%          include 'quoin/core/reports/includes/multi_test_case.html' with test=test only %}
    {%      endfor %}
        </tbody>
    </table>
</div>

<div id="modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{%  endblock %}

{%  block js %}
    {{ block.super }}
<script type="text/javascript">
{%      include 'quoin/core/reports/includes/reports.js' %}
</script>
{%  endblock %}
