<div class="row well filters">

    <div class="row" id="text-filter">
        <span class="lead col-md-2 text-right">Filter:</span>
        <form class="col-md-10">
            <fieldset>
                <input type="input" name="filterText" value="" id="filter-text" class="form-control" checked>
            </fieldset>
        </form>
    </div>

    <div class="row" data-filter-name="result" data-filter-column="2">
        <span class="lead col-md-2 text-right">Result:</span>
        <button type="button" class="btn btn-success" data-filter-value="Success">
            Success
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-danger" data-filter-value="Error">
            Error
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-warning" data-filter-value="Failure">
            Failure
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-info" data-filter-value="Skipped">
            Skipped
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>

    <div class="row" data-filter-name="type" data-filter-column="1">
        <span class="lead col-md-2 text-right">Type:</span>
        <button type="button" class="btn btn-primary" data-filter-value="tests.selenium">
            Selenium
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-primary" data-filter-value="tests.views">
            View
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-primary" data-filter-value="tests.unit">
            Unit
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>

    <div class="row" data-filter-name="browser" data-filter-column="4">
        <span class="lead col-md-2 text-right">Browsers:</span>
        <button type="button" class="btn btn-primary" data-filter-value="n/a">
            Non-Browser
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-primary" data-filter-value="chrome">
            Chrome
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-primary" data-filter-value="firefox">
            Firefox
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-primary" data-filter-value="iexplorer">
            Internet Explorer
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-primary" data-filter-value="safari">
            Safari
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>

</div>