{%      for test_case in test.runs %}

        <tr class="multi-test-case {{test_case.result}}">
            <td class="number text-center">
                {{ test_case.number }}
            </td>
            <td class="name">
                <div class="name">{{test.name}}</div>
                <div class="description {{test.has_description}}">{{test.description}}</div>
            </td>
            <td class="result text-center">
{%  if test_case.message %}
                <a href="#modal" data-message="{{test_case.message}}" class="result-open">{{test_case.result|capfirst}}</a>
{%  else %}
                <span>{{test_case.result|capfirst}}</span>
{%  endif %}
            </td>
            <td class="duration text-center">
                {{ test_case.time }}
            </div>
            <td class="browser text-center">
                {{ test_case.browser|default:"n/a" }}
            </td>
            <td class="version text-center">
                {{ test_case.version|default:"n/a" }}
            </td>
            <td class="platform text-center">
                {{ test_case.platform|default:"n/a" }}
            </td>
            <td class="screenshot text-center">
                {%  for image in test_case.screenshots %}
                    <span><a href="#modal" data-img="{{image}}" class="screenshot-open">link</a></span>
                {%  endfor %}
            </td>
        </tr>

{%      endfor %}
