/* filter buttons */
.filters button, .filters .lead, .filters #text-filter { margin-bottom:5px; }
button.btn-disabled { opacity:0.3; }
#text-filter form { padding-left:0px; }

/* table rows */
table.test-suite > tbody > tr.error { background-color:#f2dede; }
table.test-suite > tbody > tr.failure { background-color:#ffff99; }
table.test-suite > tbody > tr.skipped { background-color:#5BC0DE; }
table.test-suite > tbody > tr.success { background-color:#dff0d8 }

/* test description */
td.name > div.description { margin-left:25px; font-size:75%; }
td.name > div.description.False { font-style:italic; color:#cc0000; }

/* modal */
div.modal-dialog { width:100%; }
div.modal-body > div.scroll { overflow:scroll; }
div.modal-body > div.scroll > img { max-width:100%; }
div.message { font-family:monospace; font-size:11px; white-space:pre; border:2px solid gray; background:#E4E4E4; padding:8px; }