<div class="summary">
    <div class="row lead">
        <div class="col-md-1"></div>
        <div class="col-md-2 total">
            <span class="result-label">Total:</span>
            <span class="label label-primary"></span>
        </div>
        <div class="col-md-2 success">
            <span class="result-label">Success:</span>
            <span data-toggle="tooltip" title="" class="label label-success"></span>
        </div>
        <div class="col-md-2 error">
            <span class="result-label">Errors:</span>
            <span data-toggle="tooltip" title="" class="label label-danger"></span>
        </div>
        <div class="col-md-2 failure">
            <span class="result-label">Failures:</span>
            <span data-toggle="tooltip" title="" class="label label-warning"></span>
        </div>
        <div class="col-md-2 skipped">
            <span class="result-label">Skipped:</span>
            <span data-toggle="tooltip" title="" class="label label-info"></span>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row progress progress-striped">
        <div data-toggle="tooltip"
                title=""
                class="progress-bar progress-bar-success"
                style="">
            <span class="sr-only"></span>
        </div>
        <div data-toggle="tooltip"
                title=""
                class="progress-bar progress-bar-danger"
                style="">
            <span class="sr-only"></span>
        </div>
        <div data-toggle="tooltip"
                title=""
                class="progress-bar progress-bar-warning"
                style="">
            <span class="sr-only"></span>
        </div>
        <div data-toggle="tooltip"
                title=""
                class="progress-bar progress-bar-info"
                style="">
            <span class="sr-only"></span>
        </div>
    </div>
</div>